/* MAIN COLORS */
/*
#FF8811
#F4D06F
#FFF8F0
#9DD9D2
#392F5A
floralwhite;
*/
:root {
  background-color: #FFF8F0;
  font-size: 62.5%; /* about 10px */
}
* {
  box-sizing: border-box;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  /* border: 0.1rem solid red; */
}

/* TEXT */
h1,
h2 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  padding: 1rem 4rem;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 0;
  padding: 1rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

p {
  font-size: 1.5rem;
}

/* NAVIGATION */
.search-input {
  font-size: 2.5rem;
  height: 4rem;
  padding: 1rem 1rem;
  width: 60rem;
}

nav {
  background-color: #9DD9D2;
}

.nav-list {
  align-items: center;
  background-color: #f3cb9d;
  border-radius: 1rem;
  box-shadow: 0 0 0.6rem #caa274;
  display: flex;
  margin: 0;
  padding: 1rem 0;
  justify-content: flex-end;
}

.nav-item {
  list-style: none;
  margin-right: 3rem;
}

.nav-item:first-child {
  margin-left: 2rem;
  margin-right: auto;
}

/* MAIN ELEMENTS */
.home-view {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  max-height: 60rem;
  max-width: 120rem;
}

.recipe-image {
  height: 30rem;
  object-fit: cover;
}

.explore-recipe {
  background-color: #FF8811;
  border: 0.3rem solid #f4a14f;
  text-align: center;
}

.recipe-details {
  display: flex;
  flex-basis: 50%;
}

.meal-box {
  background-color: #F4D06F;
  border: 0.1rem solid #fde193;
  flex-basis: 100%;
  padding-top: 10rem;
  text-align: center;
}

.meal-box > h3 {
  background-color: #fadc8a;
}

.view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box {
  background-color: #F4D06F;
  border: 0.2rem solid #333333;
  cursor: pointer;
  flex-basis: 10%;
  margin-top: 2rem;
}

.box:hover {
  background-color: floralwhite;;
  border-color: floralwhite;;
  box-shadow: 0 0.4em 0.4em -0.4em #e9c46a;
  transform: translateY(-0.25em);
}

.box > img {
  height: 30rem;
  width: 25rem;
}

.recipe-card {
  background-color: #F4D06F;
  border: 0.2rem solid #333333;
  flex-basis: 50%;
  margin-top: 2rem;
}

.recipe-card > h4 {
  font-size: 2rem;
}

.nav-icon {
  cursor: pointer;
  height: 5rem;
  margin-left: 1.5rem;
  width: 5rem;
}

.search-form {
  background-color: #9DD9D2;
  border-radius: 10rem;
  height: 10rem;
  margin: 8rem 0 4rem;
  padding-left: 4rem;
  padding-top: 3rem;
  width: 100rem;
}

.search-label {
  font-size: 2.5rem;
}

/* BUTTONS */
.nav-btn {
  background: #82b2ad;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  color: floralwhite;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  padding: 0.8rem 1.1rem;
  transition: all 200ms ease-in
}

.nav-btn:hover {
  background: #392F5A;
}

.search-btn {
  background: #f3cb9d;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  padding: 0.8rem 1.1rem;
  transition: all 200ms ease-in
}

.search-btn:hover {
  background: floralwhite;
}

/* FUNCTIONALITY */
.hidden {
  display: none;
}
